---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<OPENWEATHER_API_KEY>&lat=40.7128&lon=-74.006&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-74.006,"lat":40.7128},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"base":"stations","main":{"temp":66.25,"feels_like":65.5,"temp_min":62.96,"temp_max":70.16,"pressure":1021,"humidity":62,"sea_level":1021,"grnd_level":1020},"visibility":10000,"wind":{"speed":4,"deg":147,"gust":7},"clouds":{"all":88},"dt":1747092502,"sys":{"type":2,"id":2037026,"country":"US","sunrise":1747042904,"sunset":1747094587},"timezone":-14400,"id":5128581,"name":"New
        York","cod":200}'
  recorded_at: Mon, 12 May 2025 23:28:22 GMT
recorded_with: VCR 6.3.1
